@import "../../assets/stylesheets/mixins"
@import "../../assets/stylesheets/colors"

.Input
  display: flex
  flex-direction: column

  label
    margin-bottom: 8px
    +text(14px, $grey, 500, 24px)

  span
    margin-top: 2px
    +text(12px, $lightestRed, 500, 150%)

  > div
    > input
      font-family: Avenir, sans-serif
      background: $lightestGrey2
      width: 100%
      height: 40px
      padding-left: 12px
      border-radius: 4px
      outline: 0
      border: 0
      +text(14px, $darkGrey, 500, 24px)

      &:hover
        background: $lightestGrey3

      &:focus
        box-shadow: 0 0 5px $lightestGrey4

      &:disabled
        color: $lightestGrey3