.Text
  font-style: normal
  font-weight: 500
  font-size: 14px
  line-height: 24px
  color: #707070
  margin-top: 25px
  text-align: center

.Text > a
  text-decoration-line: underline
  color: #E4163A