@import "../../assets/stylesheets/mixins"
@import "../../assets/stylesheets/colors"

.Header
  display: flex
  align-items: center
  height: 80px
  background: $white
  box-shadow: 0 1px 10px rgba(209, 209, 209, 0.5)
  position: relative
  z-index: 2

  > div
    width: 100%
    padding: 0 50px
    display: flex
    justify-content: space-between
    align-items: center

    > .profile
      display: flex
      align-items: center

      > span
        padding-right: 15px
        +text(14px, $darkGrey, 500, 24px)

      > svg
        width: 30px
        height: 30px