.Checkbox {
    box-sizing: border-box;
    margin-top: 25px;
}

.Checkbox > div {
    display: flex;
    align-items: center;
}

.Checkbox > div > input {
    border-radius: 2px;
    cursor: pointer;
    border: 0;
}

.Checkbox > div > input[type="checkbox"]:hover {
    border: 1px solid #E4163A;
}

.Checkbox > div > input[type="checkbox"]:disabled {
    background: #F6F6F6;
    border-radius: 1px;
}

.Checkbox > div > input[type="checkbox"]:checked {
    background: #E4163A;
}

.Checkbox > div > label {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #707070;
}

.Checkbox > span {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #FF768E;
}