@import "../../../assets/stylesheets/mixins"
@import "../../../assets/stylesheets/colors"

.Input
  display: flex
  flex-direction: column
  margin-top: 25px

.Input
  > div
    > input
      font-family: Avenir, sans-serif
      width: 100%
      height: 40px
      background: $lightestGrey2
      padding-left: 12px
      padding-right: 40px
      border-radius: 4px
      outline: 0
      border: 0
      +text(14px, $darkGrey, 500, 24px)

      &:hover
        background: $lightestGrey3

      &:focus
        box-shadow: 0 0 5px $lightestGrey4

      &:disabled
        color: $lightestGrey3

.Input
  label
    margin-bottom: 8px
    +text(14px, $grey, 500, 24px)

.Input
  span
    margin-top: 2px
    +text(14px, $lightestRed, 500, 150%)

.Input
  > div
    position: relative
    display: flex
    align-items: center

    .Eye
      width: 16px
      height: 16px
      position: absolute
      right: 15px
      cursor: pointer